<section id="home">
    <div id="default-carousel" class="relative w-full" data-carousel="slide">
        <!-- Carousel wrapper -->
        <div class="relative h-72 overflow-hidden md:h-[486px]">
            <!-- Item 1 -->
            <div class="hidden duration-[2000ms] ease-in-out" data-carousel-item>
                <img src="assets/images/1.jpg"
                    class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            </div>
            <!-- Item 2 -->
            <div class="hidden duration-[2000ms] ease-in-out" data-carousel-item>
                <img src="assets/images/2.jpg"
                    class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            </div>
            <!-- Item 3 -->
            <div class="hidden duration-[2000ms] ease-in-out" data-carousel-item>
                <img src="assets/images/3.jpg"
                    class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            </div>
            <div class="hidden duration-[2000ms] ease-in-out" data-carousel-item>
                <img src="assets/images/3.jpg"
                    class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            </div>
            <div class="hidden duration-[2000ms] ease-in-out" data-carousel-item>
                <img src="assets/images/3.jpg"
                    class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            </div>
        </div>
    </div>
</section>